<div class="container">
    <h1>Add Coment for {{book.name}}</h1>

    <form (ngSubmit)="addComment(bookId); addCommentForm.reset()" #addCommentForm="ngForm">
      <div class="form-group">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea [(ngModel)]="comment"  name="comment" #content="ngModel" class="form-control" rows="5" id="comment" placeholder="Type a comment here ..."></textarea>
        </div>

        <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
          Comment is required!
        </div>
      </div>
      <button [disabled]="comment === undefined" type="submit" class="btn btn-success">Submit</button>
    </form>

</div>
  