<div>

  <span *ngIf="authService.isLoggedIn() && authService.isAdmin()">
    <button class="btn btn-primary btn-xs" routerLink="/books/add">Add book</button>
  </span>

  <h3>Available Books:</h3>

  <div class="row">
    <div *ngFor="let book of books; let i = index">
      <div class="col-md-4">
        <h2>{{ book.name | uppercase }}</h2>

        <button class="btn btn-info btn-xs" (click)="hideme[i] = !hideme[i]">Details</button>
        <button class="btn btn-info btn-xs" (click)="hideComments[i] = !hideComments[i]">Comments<span class="badge">0</span></button>
        
        <span *ngIf="authService.isLoggedIn() && !authService.isAdmin()">
          <button class="btn btn-success btn-xs" (click)='addToMyBooks(book)'>Add to My Books</button>
          <button class="btn btn-primary btn-xs" (click)='addComment(book)'>Add comment</button>
        </span>

        <span *ngIf="authService.isLoggedIn() && authService.isAdmin()">
          <button class="btn btn-warning btn-xs" (click)='editBook(book._id)'>Edit Book</button>
          <button class="btn btn-danger btn-xs" (click)='deleteBook(book._id)'>Delete Book</button>
        </span>

        <div [hidden]="hideme[i]" class='selectedBook'>          
          <p><b>Author:</b> {{book.author}}</p>
          <p><b>Category:</b> {{book.category}}</p>
          <p><b>Desription:</b> {{book.description}}</p>
          <img class="img-rounded" src="{{book.image}}" />
        </div>

        <div [hidden]="hideComments[i]" class='selectedComment'>   
            <div *ngFor="let comment of comments">   
              <span *ngIf="comment.book_id === book._id">
                  <p><i>{{comment.content}}</i>
                    <span *ngIf="authService.isLoggedIn() && authService.isAdmin()">
                        <button class="btn btn-danger btn-xs" (click)='deleteComment(comment._id)'>Delete Comment</button>
                      </span>
                  </p>
              </span>

            </div>    
        </div>

      </div>
    </div>
  </div>

</div>