.book {
    background-color: aquamarine
}

.selectedBook {
    background-color: aliceblue
}

.details {
    background-color: cadetblue;
    border-color: black;
}

.selectedComment {
    background-color:lemonchiffon;
}