<div>

  <span *ngIf="authService.isLoggedIn() && authService.isAdmin()">
    <button class="btn btn-success" routerLink="/books/add">Add book</button>
  </span>

  <h3>Available Books:</h3>
  
  <div class='container' *ngFor='let book of books;let i = index' >
    <div class='book'>

        <b>{{book.name}}</b> by {{book.author}}

        <button class="btn btn-success " (click)="hideme[i] = !hideme[i]">Hide/Show Details</button>

        <button class="btn btn-success" (click)="hideComments[i] = !hideComments[i]">Hide/Show Comments</button>

        <span *ngIf="authService.isLoggedIn() && !authService.isAdmin()">
          <button class="btn btn-success" (click)='addToMyBooks(book)'>Add to My Books</button>
          <button class="btn btn-success" (click)='addComment(book)'>Add comment</button>
        </span>

        <span *ngIf="authService.isLoggedIn() && authService.isAdmin()">
          <button class="btn btn-success" (click)='editBook(book._id)'>Edit</button>
          <button class="btn btn-success" (click)='addComment(book) [book]'>Delete</button>
        </span>

        <div [hidden]="hideme[i]" class='selectedBook'>
          <h2>{{ book.name | uppercase }}</h2>
          <p><b>Author:</b> {{book.author}}</p>
          <p><b>Category:</b> {{book.category}}</p>
          <p><b>Desription:</b> {{book.description}}</p>
          <img src="{{book.image}}" />
        </div>

    </div>
  </div>

</div>