<div>
    <h3>My Books:</h3>
    <div class="row">
      <div *ngFor='let book of myBooks;let i = index' >
        <div class="col-md-4">
            <div>
              <h2>{{book.name | uppercase}}</h2>
              <span>
                <button class="btn btn-info btn-xs" (click)="hideme[i] = !hideme[i]">Details</button>
                <button class="btn btn-info btn-xs" (click)="hideComments[i] = !hideComments[i]">Comments<span class="badge">0</span></button>
                <button class="btn btn-primary btn-xs" (click)='addComment(book)'>Add comment</button>
                <button class="btn btn-danger btn-xs" (click)='deleteFromMyBooks(book._id)'>Delete from MyBooks</button>
              </span>
            </div>

            <div [hidden]="hideme[i]" class='selectedBook'>          
              <p><b>Author:</b> {{book.author}}</p>
              <p><b>Category:</b> {{book.category}}</p>
              <p><b>Desription:</b> {{book.description}}</p>
              <img class="img-rounded" src="{{book.image}}" />
            </div>
            
            <div [hidden]="hideComments[i]" class='selectedComment'>   
                <div *ngFor="let comment of comments">   
                  <span *ngIf="comment.book_id === book._id">
                      <p>
                        <i>{{comment.content}}</i>
                      </p>
                  </span>    
                </div>    
            </div>
        </div>
      </div>
    </div>
  </div>