<div class="container">
  <h1>Register Form</h1>
  <form (ngSubmit)="register()" #registerForm="ngForm" class="col-md-6">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>      
        <input type="text" class="form-control" id="username" placeholder="Username"
        required
        [(ngModel)]="model.username"
        name="username"
        #username="ngModel">
      </div>
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        Username is required!
      </div>
    </div>


    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" id="password" placeholder="Password"
        required
        [(ngModel)]="model.password"
        name="password"
        #password="ngModel">
      </div>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required!
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon"></i>First Name</span>      
        <input type="text" class="form-control" id="firstName" placeholder="First Name"
        required
        [(ngModel)]="model.firstName"
        name="firstName"
        #firstName="ngModel">
      </div>
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        First Name is required!
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon"></i>Last Name</span> 
        <input type="text" class="form-control" id="lastName" placeholder="Last Name"
        required
        [(ngModel)]="model.lastName"
        name="lastName"
        #lastName="ngModel">
      </div>
      <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
        Last Name is required!
      </div>
    </div>

    <button [disabled]="!registerForm.form.valid" type="submit" class="btn btn-success">Submit</button>    
  </form>

</div>
